# ignore everything
*

# except for
!./src/**/*
!./public/**/*
!./scripts/**/*
!./package.json
!./wrangler.json
!./Dockerfile
!./.gitignore
!./.dockerignore
!./bun.lock
!./bunfig.toml
!./tsconfig.json
!./vite.config.ts
!./.env
